body {
    margin: 0 auto;
    width: 100%;
  
}

#Datos {
    background-color: #2A696E;
    width: 300px;
    text-align: center;
    float: left;
    color: white;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    height: 910px;
    margin-bottom:5px;
}



footer {
    background-color: #97D7DC;
    padding-top: 5px;
    padding-bottom:5px;
    clear: both;
    position: relative;
    margin: 0px 0px 0px 0px;
}


#Container {
    background-color: white;
    text-align: center;
    color: black;
    margin-right: 30px; 
}

    
/*img{
    border-radius:10px;
}*/

table, th, td {
    text-align: center;
}

.ubicacion{
    text-align:justify;
}

p{
    text-align:justify;
}

table img {
    width: 20rem;
    height: 10rem;
}
#Title {
    background-color: white;
}


#Main {
    margin: -8px 0px 0px 0px;
    padding:10px;
}


thead {
    margin: -8px 0px 0px 0px;
    color: white;
    background-color: #2A696E;
    border: 1px solid black;
    font-size: 20px;
}
td {
    border: 1px solid black;
    font-size: 20px;
}

@media only screen and (max-width: 1101px) {
    /* For mobile phones: */
    #Inicio table{
        width: 100%;
        height:auto;
    }

    table img {
        width: 10rem;
        height: 5rem;
    }

    td{
        font-size: 15px;
    }

     thead{
        font-size:15px;
    }

     footer {
         font-size: 10px;

     }

    #Datos{
        height:auto;
        width:100%;
        margin-left:-10px;
    }

    p{
        margin-left:10px;
    }
}

@media only screen and (max-width: 914px) {
    /* For mobile phones: */
    #Inicio table {
        width: 100%;
        height: auto;
    }

    table img {
        width: 10rem;
        height: 5rem;
    }

    #Datos {
        height: auto;
        width: 100%;
    }
}


@media only screen and (max-width: 340px) {
    /* For mobile phones: */
    #Inicio table {
        width: 100%;
        height: auto;
    }

    table img {
        width: 5rem;
        height: 2rem;
    }

    td {
        font-size: 15px;
    }

    thead {
        font-size: 15px;
    }

    footer {
        font-size: 10px;
    }

    #Datos {
        height: auto;
        width: 100%;
        margin-left: -10px;
    }

    p {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 298px) {
    /* For mobile phones: */
    #Inicio table {
        width: 100%;
        height: auto;
    }

    table img {
        width: 5rem;
        height: 2rem;
    }

    td {
        font-size: 12px;

    }

    thead {
        font-size: 12px;
    }

    footer {
        font-size: 10px;
        width:100%;
        height:auto;
    }

    #Datos {
        height: auto;
        width: 100%;
        margin-left: -10px;
    }

    p {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 270px) {
    /* For mobile phones: */
    #Inicio table {
        width: 100%;
        height: auto;
    }

    table img {
        width: 5rem;
        height: 2rem;
    }

    td {
        font-size: 10px;
    }

    thead {
        font-size: 10px;
    }

    footer {
        font-size: 10px;
        width: 100%;
        height: auto;
    }

    #Datos {
        height: auto;
        width: 100%;
        margin-left: -10px;
    }

    p {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 252px) {
    /* For mobile phones: */
    #Inicio table {
        width: 100%;
        height: auto;
    }

    table img {
        width: 5rem;
        height: 2rem;
    }

    td {
        font-size: 9px;
    }

    thead {
        font-size: 9px;
    }

    footer {
        font-size: 10px;
        width: 100%;
        height: auto;
    }

    #Datos {
        height: auto;
        width: 100%;
        margin-left: -10px;
    }

    p {
        margin-left: 10px;
    }
}




